<!DOCTYPE html>
<html>
<head>
<title>Processing.js Full Screen demo 2015</title>
<style type="text/css">
  body {margin:0; padding:0;} /* remove top and left whitespace */
  canvas {display:block; position:fixed; top:0px; left:0px; bottom:0px; right:0px;} 
  canvas:focus {outline:0;} /* remove blue outline around canvas */
  .fs {position:fixed; right:50px; bottom:50px; font-size: 200%;}
  #enter {display:block;}
  #exit {display:none;}
</style>  
<script src="/js/processing.min.js"></script>
</head>
<body>
<canvas id="canv" data-processing-sources="/js/gen_art.pde">
<h1>(There would be some art here if your web browser
supported the HTML5 canvas tag.)</h1>
</canvas>

 
<script type="application/javascript">
var viewfs = document.getElementById("enter");
var exitfs = document.getElementById("exit");
var processingInstance;
var fullscreen = false;
 
window.onresize=function(){setSketchSize()};
function setSketchSize() {
  if (!processingInstance) {
    processingInstance = Processing.getInstanceById("canv");
  } 
  // call Processing size() function over in the sketch
  processingInstance.size(document.documentElement.clientWidth,document.documentElement.clientHeight);  
}
 
document.addEventListener("fullscreenchange", setFullscreenBooleanInSketch);
document.addEventListener("webkitfullscreenchange", setFullscreenBooleanInSketch);
document.addEventListener("mozfullscreenchange", setFullscreenBooleanInSketch);
document.addEventListener("MSFullscreenChange", setFullscreenBooleanInSketch);
 
function setFullscreenBooleanInSketch() {
  if (document.fullscreenElement || 
      document.mozFullScreenElement || 
      document.webkitFullscreenElement || 
      document.msFullscreenElement) { // if fullscreen
    viewfs.style.display = "none";
    exitfs.style.display = "block";
    fullscreen = true;      
  } else {
    viewfs.style.display = "block";
    exitfs.style.display = "none";
    fullscreen = false;
  }
  if (!processingInstance) {
    processingInstance = Processing.getInstanceById("canv");
  } 
  // sets the value of the boolean 'fullscreen' over in the sketch
  processingInstance.setFullscreen(fullscreen);  
}
 
function goFullScreen() {
  if (document.fullscreenEnabled || 
      document.webkitFullscreenEnabled || 
      document.msFullscreenEnabled ||
      document.mozFullScreenEnabled) {  
    if (!document.fullscreenElement && 
        !document.mozFullScreenElement && 
        !document.webkitFullscreenElement && 
        !document.msFullscreenElement) { 
      if (document.documentElement.requestFullscreen) {
        document.documentElement.requestFullscreen();
      } else if (document.documentElement.mozRequestFullScreen) {
        document.documentElement.mozRequestFullScreen();
      } else if (document.documentElement.webkitRequestFullscreen) {
        document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
      } else if (document.documentElement.msRequestFullscreen) {
        document.documentElement.msRequestFullscreen();
      }
    } 
  }
} 
 
function exitFullScreen() {
  if ((document.fullscreenEnabled || 
       document.webkitFullscreenEnabled || 
       document.msFullscreenEnabled ||
       document.mozFullScreenEnabled)) {  
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if (document.webkitExitFullscreen) {
      document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) {
      document.msExitFullscreen();
    }
  }
} 
</script>
</body>
</html>
